html {
	box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
	box-sizing: inherit;
  }

body{
	font-family: 'Oswald';
}
.container{
	max-width: 85%;
	margin: 0 auto;

}

.projectRow {
	display: grid;
	flex-direction: column;
	/*grid-template-columns: repeat(auto-fit,minmax(300px,1fr));*/
	grid-template-columns: repeat(4, 300px);
	grid-template-rows: 1fr;
	grid-auto-flow: dense;
	grid-gap: 12px;
	box-sizing: border-box;
}

.project_name {
	grid-column-start: 1;
	grid-column-end: 7;
  
}

.Flatiron.Projects ~ .block {
	background-color: rgb(51,0,51);
}

.block {
	margin: 0 0 15px 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
}
.inner_img_block {
	height: 10em;

}
.inner_text_block{
	height: 60%;
}
.block img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.block p {
	text-align: left;
}
article {
	background-color: rgb(0,0,51);
	color: white;
	position: relative;
	padding: 0.8em 0.6em;
}
 .fa {
	 position: absolute;
	 color: gold;
 	font-size: 2em;
 	bottom: 12px;
 	margin: 10px 0 0 0;
 }

.fa-git-square{
 	left: 60px;
 }

 .fa-link{
 	left: 15px;
 }
 .links{
 	margin-top: 5em;
 }

 h1, h3, h4 {
	font-family: 'Montserrat', sans-serif;
 }

 h4 {
 	 color: gold;
 }

.block {

  transition-property: border-color;
  transition-duration: .3s;
  transition-timing-function: linear;
  transition-delay: .1s;
}

 .block:hover {
	 border-top: 10px solid gold;
	 border-bottom: 10px solid gold;
 }


@media screen and (max-width: 400px)  {
	.inner_img_block {
		height: 11em;
	}
	#logo{
		width: 30%;
	}
}

